/*MAIN BODY STYLING*/
:root {
    --primary-color: #e8c5d4;
    --secondary-color: #845a6d;
    --tertiary-color:#3a1726;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

li{
    list-style: none;
}

a{
    text-decoration: none;
}


body{
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--primary-color);
    
}

.title {
    color: var(--tertiary-color);
    font-size: 50px;
    font-style: italic;
    padding-top: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.About-me, .Work, .Contact-me {
    margin-left: 14%;
    padding: 0 19px;
    text-align: center;
 }
/*Styling of header*/
header{
    height: 45%;
    width: 19%;
    position: fixed;
    background-color: var(--tertiary-color);
    opacity: 0.6;
    padding: 30px;
    margin: 40px;
    border-radius: 100px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 20%);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li {
    padding: 15px;
    text-align: center;
}

header nav ul li a {
    color:var(--primary-color);
    text-align: center;
    font-size: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 5px;
    border-radius: 10px;
    text-shadow: none;
}

/*ABOUT ME SECTION STYLING*/

.me{
    color: var(--primary-color);
    text-align: center;
    padding-bottom: 20px;
    padding-top: 5px;
    font-size: 30px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

 .About-me p {
    text-align: center;
    font-size: 20px;
    width: 80%;
    padding: 30px 0;
    margin: 0 auto;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.about {
    background: var(--secondary-color);
    width: 75%;
    margin: auto;
    border-radius: 100px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 20%);
}
/*SEPERATE STYLING OF 1ST APPLICATION IN WORK SECTION*/
/*WORK SECTION STYLING*/

.Work div ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

.Work div ul li {
    width: 35%;
    margin: 50px; 
}


.Work div ul li h4{
    color:var(--secondary-color);
    text-align: center;
    font-size: 30px;
}

.Work div ul li:hover {
  opacity: 0.5;
  border-color: var(--secondary-color);

}

.Work img {
    width:100%;
    border: solid 10px;
    border-color: var(--secondary-color);
    padding: 10px;
}

.working h2 {
    background-color: var(--secondary-color);
    padding: 10px;
    margin-top: 30px;
    border-radius: 100px;
    width: 75%;
    text-align: center;
    margin-left: 14%;
}
/*SEPERATE STYLING OF 1ST APPLICATION IN WORK SECTION*/
/*It comes after the work section to override other declarations*/
.main p {
    color: var(--secondary-color);
}

.main h4 {
    color:var(--secondary-color);
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}

.main:hover {
    opacity: 0.5;
    border-color: var(--secondary-color);
}

.main img {
    width: 50%;
}

/*CONTACT SECTION*/

.contact {
    background-color: var(--tertiary-color);
    border-radius: 100px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 20%);
    opacity: 0.7;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin-left: 14%;
    margin-right: 11%;
    margin-bottom: 5%;
    padding: 10px;

  }

  .contact a {
    text-decoration: none;
    color: var(--primary-color);
  }

  .contact h2 {
      color:var(--primary-color);
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      text-align: center;
  }
  
  .contact nav {
    margin: 7px 0;
  }
  
  .contact nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

  }
  
  .contact nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  .contact nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;

  }

  /*MOBILE RESPONSIVNESS SECTION*/
  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
  @media screen and (max-width: 1295px) {
    header nav ul li a {
        text-align: center;
        width: 150%;
    }

    .me {
        text-align: center;
        margin-top: 10%;
        font-size: 26px;
        width: 90%;
    }

    header {
        padding: 0px;
        height: 50%;
        width: 19%;
    }

    .contact {
        padding: 20px;
        width: 85%;
    }

    .contact h2 {
        font-size: 29px;
    }

    .contact nav ul li a {
        text-align: center;
        font-size: 18px;
    }

    .title {
        font-size: 40px;
    }

    .Work div ul {
        flex-wrap: nowrap;
        display: flex;
        flex-direction: row;
        width: 105%;
    }


}
/* MEDIA QUERY FOR EVEN SMALLER DESKTOP SCREENS AND SMALLER */
  @media screen and (max-width: 980px) {
      .me {
          font-size: 25px;
          text-align: center;
          margin-top: 20%;
      }

      header {
          padding: 0px;
          width:20%;
          padding-bottom: 0px;
          height: 50%;
          
      }

      header nav ul li a {
          font-size: 18px;
          text-align: center;
          padding-top: 0px;
      }

      .contact {
          padding:20px;
          width: 100%;
          margin: 0px;
          flex-wrap: nowrap;
      }

      .contact nav ul li a {
          padding-bottom: 50px;
        
      }

      .contact nav ul {
          justify-content: none;
          flex-wrap: nowrap;
      }

      .contact h2 {
          font-size: 22px;
      }


      .title {
          font-size: 40px;
      }


  }
/* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
      header {
          width: 22%;
          margin-left: 2%;
          height: 50%
      }

      .me {
          font-size: 25px;
      }

      header nav ul li a {
          font-size: 19px;
      }

      .contact h2 {
          font-size: 20px;
          
      }

      .contact nav ul li a {
          font-size: 16px ;
      }

      .contact {
          margin-left: -21%;
          text-align: center;
          width: 124%;
          padding: 20px;
      }

      .Work img{
          width: 140%;
          margin-left: -60%;
      }

      .main img {
          width: 60%;
          margin-left: 4%;
      }

      .main h4 {
          font-size: 26px;
      }

      .Work div ul li h4 {
          width: 100%;
          font-size: 20px;
          margin-left: -30%;
      }



  }
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
      header {
          width: 25%;
          height: 50%;
      }
      

      .contact h2 {
          font-size: 17px;
      }

      .contact {
          width: 126%;
          margin-left: -23%;
      }

      .contact nav ul li a {
          padding-left: 10px;
          padding-right: 10px;
          font-size: 16px;
      }

      .main h4 {
          font-size: 20px;
      }

      .Work div ul li h4 {
          font-size: 15px;
          margin-left: -30%;

      }

      .Work img {
          width: 190%;
      }

      .main img {
          width: 70%
      }

      .title {
          font-size: 30px;
      }

  }
